azure-ai-vision-imageanalysis==1.0.0
azure-cognitiveservices-vision-computervision==0.9.1
azure-common==1.1.28
azure-core==1.36.0
azure-storage-blob==12.27.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
config==0.5.1
cryptography==46.0.3
future==1.0.0
idna==3.11
iso8601==2.1.0
isodate==0.7.2
msrest==0.7.1
numpy==2.2.6
oauthlib==3.3.1
opencv-python==4.12.0.88
pillow==12.0.0
pycparser==2.23
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
serial==0.0.97
typing_extensions==4.15.0
urllib3==2.5.0
webcolors==24.11.1
